<div class="card">
<h2>Lorem, ipsum dolor.</h2>
<h2>{{ title }}</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati officiis facere, beatae enim accusamus explicabo natus architecto eos repudiandae! Soluta?</p>
<p>{{text}}</p>
<p>{{array}}</p>
<p>{{obj.name}}</p>
<p>{{getInfo()}}</p>
<div class='display'>
    <img src={{imgUrl}}><img>
    <button (click)="changeImg()">Change</button>
    <div class="inputText">
        <input (input)="inputHandler($event)" type="text">
    </div>
</div>
</div>
